.cat {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}
.fixed ul li {
  font-size: 25px;
  padding-left: 20px;
}
.fixed {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}
.fixed img {
  width: 120px;
  height: 80px;
}
.fixed img:hover {
  transform: scale(1.1);
}
.home {
  padding-top: 100px;
}
.hm row {
  margin-bottom: 10px;
  font-weight: bold;
}
.row h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 40px;
}
.menu .card:hover {
  box-shadow: 15px 12px 10px white;
}
.row {
  margin-bottom: 15px;
}
.foot img {
  width: 70px;
  margin-left: 20px;
}
.foot {
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: left;
  line-height: 18px;
  font-size: 15px;
}
.log {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: rgb(204, 241, 155);
}
.log img {
  height: 40px;
  margin: 20px;
}
.log p {
  font-weight: 700;
  font-size: 40px;
  font-family: "georgia";
}
.log label {
  font-weight: bold;
  font-size: 25px;
  font-family: "timesnew roman";
  padding-right: 10px;
}
.menu ul li {
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 5px;
  text-align: left;
  margin-top: 10px;
}

.menu {
  padding-top: 100px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.menu ul {
  position: fixed;
}
.foot1 img {
  width: 100px;
}
.menu img {
  width: 100%;
  height: 230px;
  border-radius: 20px;
}
.menu .card {
  height: 450px;
  width: 320px;
  border-radius: 20px;
  text-align: center;
}
.menu .btn {
  align-content: center;
}
.menu {
  background-image: url(images/bac.jpeg);
  color: white;
}
.crt1 {
  padding-top: 100px;
}
.tds img {
  width: 100%;
  height: 170px;
  border-radius: 20%;
}
.tds1 {
  font-weight: bold;
  font-size: 25px;
}
.cartt th {
  font-size: 30px;
}
.tds2 {
  font-size: 20px;
}
.table {
  width: 100%;
}
.tr1:hover {
  border-radius: 30px;
  box-shadow: 5px 2px 2px gray;
  transform: scale(1.02);
}
.crt1 .card {
  border-radius: 20px;
  width: 100%;
  box-shadow: 10px 5px 5px;
}
.tr1 {
  margin: 20px;
}
.crt1 h2 {
  font-size: 40px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 10px 5px 5px grey;
  border-radius: 20px;
}
